* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

iconify-icon {
  line-height: 10px !important;
}

html,
body {
  scroll-behavior: smooth;
}

:root {
  --primary: #fff;
  --primary1: #363738;
  --secondary: #f5f5f5;
  --secondary1: #fefaf1;
  --bg: #fff;
  --text: #fafafa;
  --text1: #7d8184;
  --text2: #000;
  --button: #000;
  --secondary-2: #db4444;
  --button1: #0f6;
  --button2: #db4444;
  --hover-button1: #e07575;
  --hover-button2: #a0bce0;
  --300-1px: rgba(0, 0, 0, 0.3);
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Inter', sans-serif;
}

/* TopBar Start Here */
#topBar {
  background: var(--text2);
  padding: 14px 0;
}

#topBar p {
  font-weight: 400;
  font-size: 14px;
  color: var(--text);
}

#topBar p a {
  font-weight: 600;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--text);
  margin-left: 8px;
}

#topBar select {
  background: transparent;
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--text);
  cursor: pointer;
}

#topBar select option {
  color: #fff;
  background: #000;
  border: none;
  outline: none;
}

/* TopBar End Here */

/* Nav bar start here */
#navBar {
  padding: 23px 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#navBar .menu ul {
  display: flex;
}

#navBar .menu ul li {
  margin: 0 24px;
}

#navBar .menu ul li a {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--text2);
  position: relative;
}

#navBar .menu ul li a::before {
  content: '';
  width: 0%;
  position: absolute;
  height: 2px;
  background: #000;
  bottom: -2px;
  visibility: hidden;
  left: 0;
  transition: 0.3s ease;
}

#navBar .menu ul li a:hover::before {
  width: 100%;
  visibility: visible;
}

#navBar .searchBox {
  position: relative;
}

#navBar .searchBox input {
  padding: 7px 12px 7px 20px;
  font-family: var(--font-family);
  font-weight: 400;
  opacity: 0.5;
  font-size: 12px;
  color: var(--text2);
  width: 15.188rem;
  height: 2rem;
  border: none;
  outline: none;
  background: var(--secondary);
}
#navBar .searchBox button {
  background: transparent;
  border: none;
  outline: none;
}

#navBar .searchBox iconify-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
}

#navBar .quickLinks {
  margin-left: 24px;
}

#navBar .quickLinks iconify-icon {
  font-size: 32px;
  cursor: pointer;
  margin: 0 8px;
  color: var(--button);
}

/* Nav bar end here */
/* Nav Bar mobile start here */
#navBarMobile {
  padding: 10px;
}
#navBarMobile .menuIcon button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}
.offcanvas {
  max-width: 70%;
}
#navBarMobile .quickLinks iconify-icon {
  font-size: 20px;
}
.offcanvas.offcanvas-start {
  transition: 0.3s ease;
}
/* Nav Bar mobile end here */

/* Navbar bottom start here */
#navBarBottom {
  box-shadow: rgba(0, 0, 0, 0.24) 0px -3px 8px;
  position: fixed;
  width: 100%;
  padding: 10px 0;
  bottom: 0;
}
#navBarBottom .bottomMenu {
  background: #000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navBarBottom .bottomMenu iconify-icon {
  font-size: 20px;
  color: var(--bg);
}
/* Navbar bottom End here */
