* {
    box-sizing: border-box;
    font-family: var(--font-family);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span,
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  iconify-icon {
    line-height: 10px !important;
  }
  
  html,
  body {
    scroll-behavior: smooth;
  }
:root {
	--primary: #fff;
	--primary1: #363738;
	--secondary: #f5f5f5;
	--secondary1: #fefaf1;
	--bg: #fff;
	--text: #fafafa;
	--text1: #7d8184;
	--text2: #000;
	--button: #000;
	--secondary-2: #db4444;
	--button1: #0f6;
	--button2: #db4444;
	--hover-button: #e07575;
	--hover-button: #a0bce0;
	--300-1px: rgba(0, 0, 0, 0.3);
}

/* Style the hover effect */
.category-container {
  position: relative;
}
.categories{
  border-right: 1px solid var(--text2);
}
.subcategories {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.category-container:hover .subcategories {
  display: block;
}
.subcategories li {
  padding: 8px;
  display: block;
  list-style: none;
}
.category-container{
  display: inline-block;
  margin-top: 20px;
}
.categories li a {
  color: #000;
  font-size: 16px;
}
